<div *ngIf="items; else emptyCart">
  <app-cart-item
    *ngFor="let item of items | orderBy:orderByValue:isAsc"
    [cartItem]="item"
    (increaseCount)="increaseQuantity($event)"
    (decreaseCount)="decreaseQuantity($event)"
    (removeProduct)="removeProduct($event)"
  ></app-cart-item>

  <br>

  <span>Select a sort criterion: </span>
  <select [(ngModel)]="orderByValue">
    <option *ngFor="let orderOption of orderArray" [value]="orderOption">{{ orderOption }}</option>
  </select>
  <div>
    <label>
      Change sort order:
      <input type="checkbox" [(ngModel)]="isAsc">
    </label>
  </div> 
</div>

<button (click)="onShowOrders()">Show orders</button>

<ng-template #emptyCart>Cart list is empty</ng-template>
